<div id="content_header">
	<h2 class="sub_title">mBook 자세히 보기</h2>
</div>
<div id="content">
	<div id="detail_form">
		<table>
			<tr class="book">
				<td rowspan="15" class="book"><img src="<%= @mbook.coverimage_url %>" alt="책표지"></td>
				<td colspan="2" class="mbook"><img src="/images/icon_book.png" alt="책아이콘">mBook 제목</td>
			</tr>
			<tr class="id">
				<td class="input_name">아이디</td>
				<td class="input_data"><%= @mbook.userid %></td>
			</tr>
			<tr class="category1">
				<td class="input_name">분류 (필수)</td>
				<td class="input_data">
					<span id="select_category">
						<select id="select_category_0" name="category_id" class="select_category" level="0" mode="main">
							<option value="">카테고리 선택</option>
							<%@categories.each do |cat| %>
							<option value="<%= cat.id %>" ><%= cat.name %></option>
							<%end %>
						</select>
					</span>
				</td>
			</tr>
			<tr class="category2">
				<td class="input_name">분류 (선택)</td>
				<td class="input_data">
					<span id="select_category2">
						<select id="select_category2_0" name="category_id2" class="select_category" level="0" mode="opt">
							<option value="">선택안함</option>
							<%@categories.each do |cat| %>
							<option value="<%= cat.id %>" ><%= cat.name %></option>
							<%end %>
						</select>
					</span>
				</td>
				<td class="error"></td>
			</tr>
			<tr class="pages">
				<td class="input_name">페이지</td>
				<td class="input_data" colspan="2"><%= @mbook.pages %></td>
			</tr>
			<tr class="size">
				<td class="input_name">mBook 용량</td>
				<td class="input_data" colspan="2">
				<%= @mbook.file_size %> MB
				</td>
			</tr>
			<tr class="writer">
				<td class="input_name">저자</td>
				<td class="input_data"><%= @mbook.writer %></td>
			</tr>
			<tr class="publisher">
				<td class="input_name">출판사</td>
				<td class="input_data"><%= @mbook.publisher %></td>
			</tr>			
			<tr class="bookdate">
				<td class="input_name">발행일</td>
				<td class="input_data"><%= @mbook.issue_date %></td>
			</tr>
			<tr class="date">
				<td class="input_name">등록일</td>
				<td class="input_data"><%= @mbook.created_at.strftime('%Y-%m-%d') %></td>
			</tr>
			<tr class="description">
				<td class="input_name">mBook 소개</td>
				<td class="input_data"><%= @mbook.description %></td>
			</tr>
			<tr class="price">
				<td class="input_name">가격</td>
				<td class="input_data">
					<img src="/images/icon_dollar.png" alt="달러"> <%= @mbook.price %>
				</td>
			</tr>
			<tr class="state">
				<td class="input_name">상태</td>
				<td class="input_data">
					<%= @mbook.status %>
					<%if @mbook.status == "승인대기" or @mbook.status == "승인완료" %>
						<%if @mbook.status == "승인대기" %>
						<br/>
						<img src="/images/bt/bt_store_upload.png" alt="Store로 등록 허용" style="cursor:pointer;" id="btn_store">
						
					<%end %>
						<br/>
						<img src="/images/bt/bt_reject.png" alt="승인거부" style="cursor:pointer;" id="btn_store_cancel" status="<%= @mbook.status %>">
						<span class="error"><img src="/images/icon_error.png" alt="error"> 승인거부 사유를 입력하세요.</span>
						<textarea name="cancel_reason" id="cancel_reason"></textarea>
					<%end %>
				</td>
			</tr>
		</table>
		<p><img src="/images/bt/bt_cancel.png" alt="취소" onClick="history.go(-1);" style="cursor:pointer;"></p>
	</div>
</div>

<script>
$(document).ready(function(){
	var $level = <%= Category.get(@mbook.subcategory1_id).level %>;
	var $category_id = <%= @mbook.subcategory1_id.to_s %>;
	var $mode = "main";
	
	$.ajax({
		data:'category_id='+ $category_id + '&level=' + $level + '&mode=' + $mode, 
		dataType:'script', 
		type:'post', 
		url:'/mbooks/fetch_subcategories'
	});
	
	<%if @mbook.subcategory2_id != nil and @mbook.subcategory1_id != "" %>
		var $level = <%= Category.get(@mbook.subcategory2_id).level %>;
		var $category_id = <%= @mbook.subcategory2_id.to_s %>;
		var $mode = "opt";
	
		$.ajax({
			data:'category_id='+ $category_id + '&level=' + $level + '&mode=' + $mode, 
			dataType:'script', 
			type:'post', 
			url:'/mbooks/fetch_subcategories'
		});
	<%end %>
})

$('#btn_store').live("click", function(){
	var $mode = "승인";

	if (window.confirm("스토어로의 등록을 허용하시겠습니까?")){
		$.ajax({
			data:'id=<%= @mbook.id %>&str_status=승인완료&mode='+$mode, 
			dataType:'script', 
			type:'post', 
			url:'/admin/mbooks/update_status',
			success: function(request){
				if(request == "success"){
					if( window.confirm("스토어 등록이 완료되었습니다. \n목록으로 이동하시겠습니까?")){
						window.location.href = "/admin/mbooks?menu_on=<%= @menu_on %>"
					}
				}
			}
		});
	}else{return false;}
})

$('#btn_store_cancel').live("click", function(){
	var $mode="";
	
	if ( $('#btn_store_cancel').attr("status") == "승인대기" ){
		$mode = "거부";
		$status = "승인거부"
	}else if ($('#btn_store_cancel').attr("status") == "승인완료") {
		$mode = "취소";
		$status = "대기";
	}
	
	if ($('#cancel_reason').val() == ""){
		alert($mode + "사유를 입력해주세요!");
		$('#cancel_reason').focus();
		return false;
	}else{
		if (window.confirm("스토어로의 등록승인을 "+$mode+" 하시겠습니까??")){
			$.ajax({
				data:'id=<%= @mbook.id %>&str_status='+$status+'&cancel_reason='+$('#cancel_reason').val()+'&mode='+$mode, 
				dataType:'script', 
				type:'post', 
				url:'/admin/mbooks/update_status',
				success: function(request){
					if(request == "success"){
						if( window.confirm("스토어 등록이 완료되었습니다. \n목록으로 이동하시겠습니까?")){
							window.location.href = "/admin/mbooks?menu_on=<%= @menu_on %>"
						}
					}
				}
			});
		}else{return false;}	
	}
})
</script>