<div id="content_header" class="<%= @menu_class %>">
	<h2 class="sub_title">mBook in Store</h2>
</div>

<div id="content">
	<!-- Root Category -->
	<div class="root_list">
		<ul>
			<li><img src="/images/root/root_first.png"></li>
			<li><a href=""><img src="/images/root/bt_root_total_pink.png" alt="전체분류"></a></li>
			<%
				if params[:lv] != nil and params[:lv] != ""
					level = params[:lv].to_i
				else
					level = 0
				end
				# puts_message "level::::" + level.to_s
				i = 0
				while i < level + 2
					%>
					<li>
						<%
						categories = Category.all(:gubun=>"template",:level=>i, :display_fl => true, :parent_id => @pid[i],:order=>[:priority])
						%>
						<select class="select_category" level="<%= i %>">
							<%
							if categories.count > 0
							%>
								<% if (level == 0 and i == 0) %>
									<option value="0">전체</option>
								<%end %>
								
								<% if level == i - 1 %>
									<option value="0">전체</option>
								<%end %>
								<%categories.each do |cat| %>
									<option value="<%= cat.id %>" <%= "selected" if cat.id.to_s == @sid[i].to_s %>><%= cat.name %></option>
								<%end %>
							<%else %>
								<option value="0">전체</option>
							<%end %>
						</select>
					</li>
					<li><img src="/images/root/root_arrow_pink.png"></li>
					<%
					i = i + 1
				end
			%>
			<li class="root_last"><img src="/images/root/root_last.png"></li>
		</ul>
	</div>
	<%if @menu_on == "mb_all" %>
	<!-- Sort list -->		
	<div class="sort_list">
		<img src="/images/input_title/input_title_state.png" alt="상태별 보기">	
		<select name="sort_list" id="select_status">
			<option value="">전체</option>
			<option value="1" <%= "selected" if params[:st] == "1" %>>승인대기</option>
			<option value="3" <%= "selected" if params[:st] == "3" %>>대기</option>
			<option value="4" <%= "selected" if params[:st] == "4" %>>승인완료</option>
			<option value="2" <%= "selected" if params[:st] == "2" %>>삭제대기</option>
		</select>
	</div>
	<%end %>
	<!-- List -->
	<div class="list_title">
		<ul>
			<li class="no">NO</li>
			<li class="book">책표지</li>
			<li class="mbook">mBook</li>
			<li class="unlimit">무제한</li>
			<li class="id">아이디</li>
			<li class="date">등록일</li>
			<li class="price">가격</li>
			<li class="state">상태</li>
			<li class="check" id="check_all" style="cursor:pointer;">선택</li>
		</ul>
	</div>
	<div class="list_data">
		<% 	if params[:page].to_i == 0 or params[:page].to_i == 1
				@temp_page = 0
			else
				@temp_page = params[:page].to_i - 1
			end
			@page_num = @total_count - (10 * @temp_page) %>
				
		<%@mbooks.each do |mb| %>		
			<ul class="list_data_white">
				<li class="no"><%= @page_num %></li>
				<li class="book"><img src="<%= mb.thumbnail_url %>" alt="책표지"></li>
				<a href="/admin/mbooks/<%= mb.id %>?keyword=<%= params[:keyword] %>&search=<%= params[:search] %>&menu=<%= params[:menu] %>&menu_on=<%= @menu_on %>">
					<li class="mbook">
					<b><%= mb.title %></b><br/>
					▶ 저자 : <b><%= mb.writer %></b> | 출판사 : <b>출판사<%= mb.publisher %></b> | 발행일 : <b><%= mb.issue_date %></b>
					</li>
				</a>
				<li class="unlimit">
					<% if mb.unlimited_down_fl == true %>
						<input type="button" value="무제한">
					<% end  %>
				</li>
				<li class="id"><%= User.get(mb.user_id).userid %>(<%= User.get(mb.user_id).name %>)</li>
				<li class="date"><%= mb.created_at.strftime('%Y-%m-%d') %></li>
				<li class="price"><img src="/images/icon_dollar.png" alt="달러"> <%= mb.price %></li>
				<li class="state"><%= mb.status %></li>
				<li class="check"><input type="checkbox" class="chkbox" id="<%= mb.id %>"></li>
			</ul>
		<%@page_num -= 1
		end %>
	</div>
	<!-- list Action -->	
	<div class="select_list">
		<img src="/images/input_title/input_title_select.png" alt="선택한 항목을">
		<%if @menu_on == "mb_all" %>	
			<img src="/images/bt/bt_delete.png" alt="삭제" class="btn_status" to_state="del" style="cursor:pointer;">
		<%elsif @menu_on == "mb_del" %>	
			<img src="/images/bt/bt_ready.png" alt="대기 상태로 이동" class="btn_status" to_state="ready" style="cursor:pointer;">
		<%elsif @menu_on == "mb_req" %>
			<img src="/images/bt/bt_store_upload.png" alt="Store로 등록 허용" class="btn_status" to_state="req_ready" style="cursor:pointer;">
		<%end %>
		<p class="error" id="msg_error" style="display:none;"><img src="/images/icon_error.png" alt="error"> 선택한 항목이 없습니다.</p>
	</div>
	<!-- Paging -->
	<div>
		<table width="900">
			<tr height="20"></tr>
			<tr align="center">
				<td><%= @mbooks.pager.to_html "/admin/mbooks?me=#{params[:me]}&store=#{params[:store]}&cat=#{params[:cat]}&subcat=#{params[:subcat]}&keyword=#{params[:keyword]}&search=#{params[:search]}" %></td>
			</tr>
		</table>
	</div>
	<!-- Search -->
	<% form_tag "/admin/mbooks?cat=#{params[:cat]}&sub=#{params[:sub]}", :method => 'get' do %>								
	<div class="search">
		<img src="/images/input_title/input_title_search.png" alt="조건별 검색">
		<select name="keyword" id="keyword">
			<option value="writer" <%= "selected" if params[:keyword] == "writer" %> >저자</option>
			<option value="publisher" <%= "selected" if params[:keyword] == "publisher" %> >출판사</option>
			<option value="issue_date" <%= "selected" if params[:keyword] == "issue_date" %> >발행일</option>
			<option value="userid" <%= "selected" if params[:keyword] == "userid" %> >아이디</option>
			<option value="reg_date" <%= "selected" if params[:keyword] == "reg_date" %> >등록일</option>
			<option value="price" <%= "selected" if params[:keyword] == "price" %> >가격</option>
			<option value="status" <%= "selected" if params[:keyword] == "status" %> >상태</option>
		</select>
    	<input type="text" id="search" name="search" value="<%= params[:search] %>" style="vertical-align:middle;">
    	<input type="image" src="/images/bt/bt_search.png" alt="검색" style="vertical-align:middle;">
	</div>
	<%end  %>
</div>

<script>
$('#select_category').live("change", function(){
	var $value = $(this,'option:selected').val();
	location.href = "/admin/mbooks?cat="+$value+'&st=<%= params[:st] %>';
	
	$.ajax({
		data:'category_id='+ $value, 
		dataType:'script', 
		type:'post', 
		url:'/mbooks/update_subcategories'
	});
})

$('#select_subcategory1').live("change", function(){
	var $cat = $('#select_category :selected').val();
	var $sub = $(this,'option:selected').val();
	location.href = "/admin/mbooks?cat="+$cat+"&sub="+$sub+'&st=<%= params[:st] %>';
	
})

$('#select_status').live("change",function(){
	window.location.href = "/admin/mbooks?menu=<%= params[:menu] %>&me=<%= params[:me] %>&store=<%= params[:store] %>&st="+ $('#select_status option:selected').val()
})


$('#check_all').live("click", function(){
	$('.chkbox').each(function(){
		$(this).attr("checked", !$(this).attr("checked"));
	})
})

$('.btn_status').live("click", function(){
	var $status = $(this).attr("to_state");
	var $str_confirm = "";
	
	var $url = "";
	if( $status == "del" ){
		$url = '/admin/mbooks/deleteSelection';
		$str_status = "";
		$str_confirm = "정말 삭제사히겠습니까?";
	}else if ($status == "ready") {
		$url = '/admin/mbooks/change_status';
		$str_status = "대기";
		$str_confirm = "대기상태로 변경하시겠습니까?";
	}else if ( $status == "req_ready" ){
		$url = '/admin/mbooks/change_status';
		$str_status = "승인완료";
		$str_confirm = "스토어로의 등록을 허용하시겠습니까?";
	}
	
	if ($(':checkbox:checked').length < 1){
		$('#msg_error').css("display", "block");
		setTimeout(function(){$('#msg_error').css("display", "none");}, 3000);
	}else{
		var $del_ids = "";
		
		if( confirm($str_confirm) ){
			$('.chkbox:checked').each(function(){
				$del_ids += $(this).attr("id") + ",";
			})
			// loadingView();
			$.ajax({
				data:'ids='+ $del_ids + '&str_status='+$str_status, 
				dataType:'script', 
				type:'post', 
				url:$url,
				success: function(request){
					window.location.href = "/admin/mbooks?st=<%=params[:st]%>&keyword=<%=params[:keyword]%>&search=<%=params[:search]%> >";
				}
			});
			
		}else{
			return false;
		}
	}
})

$('.select_category').change(function(){
	var $level = parseInt($(this).attr("level"));
	var $id = $(this).val();
	
	window.location.href = "/admin/mbooks?menu=<%= params[:menu] %>&lv="+$level+"&sid="+$id+"&me=<%= params[:me] %>&store=<%= params[:store] %>&st=<%= params[:st] %>";
})

</script>