<% @categories.each do |category| %>

 	<h3><a class="<%= "on" if @category_name.to_s == category.id.to_s %>" href="/temps?category_name=<%= category.id %>"><%= category.name %></a></h3>


	<p>
	  <% @subcategories = category.subcategories.all(:order => [:priority])  %>
	  <% @subcategories.each do |subcategory| %>
			<a class="<%= "on" if @subcategory_name.to_s == subcategory.id.to_s and @category_name.to_s == category.id.to_s%>" href="/temps?category_name=<%= category.id %>&subcategory_name=<%= subcategory.id %>">&nbsp;&nbsp;-&nbsp;<%= subcategory.name %></a> <br>  		

	  <%end%>
	</p>
	
	
<%end%>
