<%if signed_in? %>
	<h1 class="logo"><a href="/"><img src="/images/header/logo.png" alt="mBook"></a></h1>
	<ul id="nav_writer">
		<li class="main"><a href="/">main</a></li>
		<li class="mbook_in_store"><a href="/mbooks?me=n&store=y" class="<%= "on" if @menu_on == "mb_store"%>">mBook in Store</a></li>
		<li class="upload"><a href="/mbooks/new" class="<%= "on" if @menu_on == "mb_reg"%>" >mBook 등록</a></li>
		<li class="my_mbook"><a href="/mbooks?me=y&store=n" class="<%= "on" if @menu_on == "my_mb"%>">나의 mBook</a></li>
		<li class="my_mbook_in_store">
			<a href="/mbooks?me=y&store=y" class="<%= "on" if @menu_on == "my_mb_store"%>">나의 mBook in Store</a></li>
		<li class="point"><a href="">포인트 관리</a></li>
		<li class="user_information"><a href="/users/<%= current_user.id %>/edit" class="<%= "on" if @board == "user" and @section == "edit"%>">나의 정보 수정</a></li>
		<li class="logout"><a href="/logout">로그아웃</a></li>
	</ul>
<%else %>
	<h1 class="logo"><a href="/"><img src="/images/header/logo.png" alt="mBook"></a></h1>
	<ul id="nav_guest">
		<a href="/login?uri=<%= "/mbooks" %>"><img src="/images/main/bt_loginpage.png" alt="로그인/회원가입" ></a>
	</ul>
<%end %>


