<%
if params[:sid] != nil and params[:sid]
	current_cat_id = params[:sid].to_i
	category_str_top = make_category_str_main(current_cat_id)
else
	category_str_top = ""
end
%>

<div id="content">
	<!-- Root Category-->
	<div class="root_index">
		<ul>
			<li class="total"><a href="/"><img src="images/root/bt_root_total_blue.png" alt="전체분류"></a></li>
			<%= category_str_top %>
		</ul>
	</div>
	<!-- Box Category -->
	<div id="box_category">
		<ul class="list">
			<%@categories.each do |cat| %>
				<li><%= cat.name %><br/>
					<%if Category.all(:parent_id => cat.id).count > 0 %>
						<a href="?lv=<%= cat.level+1 %>&sid=<%= cat.id %>"><img src="/images/category_icon/<%= cat.icon_image %>" alt="분류명"></a><br/>
					<%else%>
						<%if signed_in? %>
							<a href="/mbooks?lv=<%= cat.level %>&sid=<%= cat.id %>&me=y&store=n"><img src="/images/category_icon/<%= cat.icon_image %>" alt="리스트"></a><br/>
						<%else %>
							<a href="/mbooks?lv=<%= cat.level %>&sid=<%= cat.id %>&me=n&store=y"><img src="/images/category_icon/<%= cat.icon_image %>" alt="리스트"></a><br/>
						<%end %>
					<%end%>
					
					<%if signed_in? %>
						<a href="/mbooks?lv=<%= cat.level %>&sid=<%= cat.id %>&me=y&store=n"><img src="/images/main/bt_list.png" alt="리스트"></a>
					<%else %>
						<a href="/mbooks?lv=<%= cat.level %>&sid=<%= cat.id %>&me=n&store=y"><img src="/images/main/bt_list.png" alt="리스트"></a>
					<%end %>
				</li>
			<%end %>
		</ul>
	</div>
</div>