<div id="content_header">
	<h2 class="sub_title sub_request">mBook in Store</h2>
</div>
<div id="content">
	<!-- Root Category -->
	<div class="root_list">
		<ul>
			<li><img src="/images/root/root_first.png"></li>
			<li><a href=""><img src="/images/root/bt_root_total_pink.png" alt="전체분류"></a></li>
			
			<%
				if params[:lv] != nil and params[:lv] != ""
					level = params[:lv].to_i
				else
					level = 0
				end
				# puts_message "level::::" + level.to_s
				i = 0
				while i < level + 2
					%>
					<li>
						<%
						categories = Category.all(:gubun=>"template",:level=>i, :display_fl => true, :parent_id => @pid[i],:order=>[:priority])
						%>
						<select class="select_category" level="<%= i %>">
							<%
							if categories.count > 0
							%>
								<% if (level == 0 and i == 0) %>
									<option value="0">전체</option>
								<%end %>
							
								<% if level == i - 1 %>
									<option value="0">전체</option>
								<%end %>
								<%categories.each do |cat| %>
									<option value="<%= cat.id %>" <%= "selected" if cat.id.to_s == @sid[i].to_s %>><%= cat.name %></option>
								<%end %>
							<%else %>
								<option value="0">전체</option>
							<%end %>
						</select>
					</li>
					<li><img src="/images/root/root_arrow_pink.png"></li>
					<%
					i = i + 1
				end
			%>
			<li class="root_last"><img src="/images/root/root_last.png"></li>
		</ul>
	</div>
	<!-- Sort list -->
	<% if signed_in? %>		
	<div class="sort_list">
		<img src="/images/input_title/input_title_state.png" alt="상태별 보기">	
		<select name="sort_list" id="select_status">
			<option value="">전체</option>
			<%if @menu_on != "my_mb_store" %>
			<option value="승인대기" <%= "selected" if params[:st] == "승인대기" %>>승인대기</option>
			<option value="대기" <%= "selected" if params[:st] == "대기" %>>대기</option>
			<%end %>
			<option value="승인완료" <%= "selected" if params[:st] == "승인완료" %>>승인완료</option>
			<option value="삭제대기" <%= "selected" if params[:st] == "삭제대기" %>>삭제대기</option>
		</select>
	</div>
	<%end %>
	<!-- List -->
	<div class="list_title">
		<ul>
			<%if signed_in? %>
				<%if params[:me] != "y"  %>
					<li class="no">NO</li>
					<li class="book">책표지</li>
					<li class="mbook">mBook</li>
					<li class="id">아이디</li>
					<li class="date">등록일</li>
					<li class="price">가격</li>
					<li class="state">상태</li>
				<%else %>
					<li class="no">NO</li>
					<li class="book">책표지</li>
					<li class="category">분류</li>
					<li class="mbook">mBook</li>
					<li class="date">등록일</li>
					<li class="price">가격</li>
					<li class="state">상태</li>
					<li class="check" id="check_all" style="cursor:pointer;">선택</li>
				<%end %>
			<%else %>
				<li class="no">NO</li>
				<li class="book">책표지</li>
				<li class="mbook">mBook</li>
				<li class="id">아이디</li>
				<li class="date">등록일</li>
				<li class="price">가격</li>
				<li class="state">상태</li>
			<%end %>
			

		</ul>
	</div>
	
	<div class="list_data">	
		<input type="hidden" id="all_checked" value="false">
		<% 	if params[:page].to_i == 0 or params[:page].to_i == 1
				@temp_page = 0
			else
				@temp_page = params[:page].to_i - 1
			end
			@page_num = @total_count - (10 * @temp_page) %>
				
		<%@mbooks.each do |mb| %>
		
		<%if signed_in? %>
		
			<%if params[:me] != "y" %>
				<ul class="list_data_<%= @page_num % 2 == 1 ? "white":"blue" %>">
					<li class="no"><%= @page_num %></li>
					<li class="book"><img src="<%= mb.thumbnail_url %>" alt="책표지"></li>
					<a href="/mbooks/<%= mb.id %>?me=<%= params[:me] %>&store=<%= params[:store] %>">
						<li class="mbook">
						<b><%= mb.title %></b><br/>
						▶ 저자 : <b><%= mb.writer %></b> | 출판사 : <b>출판사<%= mb.publisher %></b> | 발행일 : <b><%= mb.issue_date %></b>
						</li>
					</a>
					<li class="id"><%=User.get(mb.user_id).userid %></li>
					<li class="date"><%= mb.created_at.strftime('%Y-%m-%d') %></li>
					<li class="price"><img src="/images/icon_dollar.png" alt="달러"> <%= mb.price %></li>
					<li class="state"><%= mb.status %></li>
				</ul>
			<%else %>
				<ul class="list_data_<%= @page_num % 2 == 0 ? "white":"blue" %>">
					<li class="no"><%= @page_num %></li>
					<li class="book"><img src="<%= mb.thumbnail_url %>" alt="책표지"></li>
					<li class="category"><%= Category.get(mb.subcategory1_id.to_i).name %> <br> <%= Category.get(mb.subcategory2_id.to_i).name if mb.subcategory2_id != nil %></li>
					<a href="/mbooks/<%= mb.id %>?me=<%= params[:me] %>&store=<%= params[:store] %>">
						<li class="mbook">
						<b><%= mb.title %></b><br/>
						▶ 저자 : <b><%= mb.writer %></b> | 출판사 : <b>출판사<%= mb.publisher %></b> | 발행일 : <b><%= mb.issue_date %></b>
						</li>
					</a>
					<li class="date"><%= mb.created_at.strftime('%Y-%m-%d') %></li>
					<li class="price"><img src="/images/icon_dollar.png" alt="달러"> <%= mb.price %></li>
					<li class="state"><%= mb.status %></li>
					
					<% if params[:store] == "y" %>
						<%if mb.status != "승인완료"%>
							<li class="check"><input type="checkbox"  disabled></li>
						<%else %>
							<li class="check"><input type="checkbox" class="chkbox" id="<%= mb.id %>" ></li>
						<%end %>
					<% else %>
						<%if mb.status != "대기" and mb.status != "승인거부" %>
							<li class="check"><input type="checkbox"  disabled></li>
						<%else %>
							<li class="check"><input type="checkbox" class="chkbox" id="<%= mb.id %>" ></li>
						<%end %>
					<% end %>
				</ul>
			<%end %>
		<%else %>
			<ul class="list_data_<%= @page_num % 2 == 1 ? "white":"blue" %>">
				<li class="no"><%= @page_num %></li>
				<li class="book"><img src="<%= mb.thumbnail_url %>" alt="책표지"></li>
				<a href="/mbooks/<%= mb.id %>?me=<%= params[:me] %>&store=<%= params[:store] %>">
					<li class="mbook">
					<b><%= mb.title %></b><br/>
					▶ 저자 : <b><%= mb.writer %></b> | 출판사 : <b>출판사<%= mb.publisher %></b> | 발행일 : <b><%= mb.issue_date %></b>
					</li>
				</a>
				<li class="id"><%=User.get(mb.user_id).userid %></li>
				<li class="date"><%= mb.created_at.strftime('%Y-%m-%d') %></li>
				<li class="price"><img src="/images/icon_dollar.png" alt="달러"> <%= mb.price %></li>
				<li class="state"><%= mb.status %></li>
			</ul>
		<%end %>
		
		<%@page_num -= 1
		end %>

	</div>
	<%if @menu_on == "my_mb" %>
		<div class="select_list">
			<img src="/images/input_title/input_title_select.png" alt="선택한 항목을">
			<img src="/images/bt/bt_delete.png" alt="삭제" id="btn_del" style="cursor:pointer;">
		</div>
	<%elsif @menu_on == "my_mb_store" %>
		<div class="select_list">
			<img src="/images/input_title/input_title_select.png" alt="선택한 항목을">
			<img src="/images/bt/bt_store_delete.png" alt="삭제" id="btn_del_from_store" style="cursor:pointer;">
		</div>
	<%end %>
	<!-- 페이징 블럭 ======================-->
	<div>
		<table width="900">
			<tr height="20"></tr>
			<tr align="center">
				<td><%= @mbooks.pager.to_html "/mbooks?me=#{params[:me]}&store=#{params[:store]}&cat=#{params[:cat]}&subcat=#{params[:subcat]}&keyword=#{params[:keyword]}&search=#{params[:search]}" %></td>
			</tr>
		</table>
	</div>
	<!-- 페이징 블럭 ======================-->
	
	
	<!-- Search -->
	<% form_tag "/mbooks?me=#{params[:me]}&store=#{params[:store]}", :method => 'get' do %>								
		<input type="hidden" id="me" name="me" value="<%= params[:me] %>">
		<input type="hidden" id="store" name="store" value="<%= params[:store] %>">
	<div class="search">
		<img src="/images/input_title/input_title_search.png" alt="조건별 검색">
		<select name="keyword" id="keyword">
			<option value="writer" <%= "selected" if params[:keyword] == "writer" %> >저자</option>
			<option value="publisher" <%= "selected" if params[:keyword] == "publisher" %> >출판사</option>
			<option value="issue_date" <%= "selected" if params[:keyword] == "issue_date" %> >발행일</option>
			<option value="userid" <%= "selected" if params[:keyword] == "userid" %> >아이디</option>
			<option value="reg_date" <%= "selected" if params[:keyword] == "reg_date" %> >등록일</option>
			<option value="price" <%= "selected" if params[:keyword] == "price" %> >가격</option>
			<% if signed_in? %>
			<option value="status" <%= "selected" if params[:keyword] == "status" %> >상태</option>
			<% end %>
		</select>
			<input type="text" id="search" name="search" value="<%= params[:search] %>" style="vertical-align:middle;">
	    	<input type="image" src="/images/bt/bt_search.png" alt="검색" style="vertical-align:middle;">
	</div>
	<% end %>
</div>

<script language="Javascript">
$('#select_category').live("change", function(){
	var $value = $(this,'option:selected').val();
	location.href = "/mbooks?me=<%= params[:me] %>&store=<%= params[:store] %>";
	
	$.ajax({
		data:'category_id='+ $value, 
		dataType:'script', 
		type:'post', 
		url:'/mbooks/update_subcategories'
	});
})

$('#select_subcategory1').live("change", function(){
	var $cat = $('#select_category :selected').val();
	var $sub = $(this,'option:selected').val();
	location.href = "/mbooks?me=<%= params[:me] %>&store=<%= params[:store] %>&sub="+$sub;
	
})


$('#check_all').live("click", function(){
	if ( $('#all_checked').val() == "false" ){
		
		$('.chkbox').each(function(){
			$(this).attr("checked", true);
		})
		
		$('#all_checked').val("true");
	}else{
		$('.chkbox').each(function(){
			$(this).attr("checked", false);
		})
		
		$('#all_checked').val("false");
	}
})

$('#btn_del').live("click", function(){
	if( $(':checkbox:checked').length > 0) {
		var del_ids = "";
		
		if( confirm("선택하신 파일을 정말 삭제하시겠습니까?")){
			$('.chkbox:checked').each(function(){
				del_ids += $(this).attr("id") + ",";
			})
			// loadingView();
			$.ajax({
				data:'ids='+ del_ids, 
				dataType:'script', 
				type:'post', 
				url:'/mbooks/deleteSelection',
				success:function(){
					window.location.href = "/mbooks?me=y&store=n";
				}
			});
		}else{
			return false;
		}
	}else{
		alert("대상을 선택해 주세요!");
		return false;
	}
})

$('#btn_del_from_store').live("click", function(){
	if( $(':checkbox:checked').length > 0) {
		var del_ids = "";
		
		if( confirm("선택하신 파일을 스토에서 삭제하도록 신청하시겠습니까?")){
			$('.chkbox:checked').each(function(){
				del_ids += $(this).attr("id") + ",";
			})
			// loadingView();
			$.ajax({
				data:'ids='+ del_ids, 
				dataType:'script', 
				type:'post', 
				url:'/mbooks/req_del_from_store',
				success:function(){
					window.location.href = "/mbooks?me=y&store=y";
				}
			});
		}else{
			return false;
		}
	}else{
		alert("대상을 선택해 주세요!");
		return false;
	}
})

$('#select_status').live("change",function(){
	window.location.href = "/mbooks?me=<%= params[:me] %>&store=<%= params[:store] %>&st="+ $('#select_status option:selected').val()
})

$('.select_category').change(function(){
	var $level = parseInt($(this).attr("level"));
	var $id = $(this).val();
	
	window.location.href = "/mbooks?lv="+$level+"&sid="+$id+"&me=<%= params[:me] %>&store=<%= params[:store] %>";
})
</script>