<div id="content_header" class="sub_upload">
	<h2 class="sub_title">mBook 등록</h2>
</div>
<div id="content">
	<div id="upload_form">
		<% form_for @mbook, :html => {:multipart => true} do |f| %>
		<input type="hidden" name="sub1" id="sub1" value="">
		<input type="hidden" name="sub2" id="sub2" value="">
		<table>
			<tr class="category1">
				<td class="input_name">분류 (필수)</td>
				<td class="input_data">
					<span id="select_category">
						<select id="select_category_0"  class="select_category" level="0" mode="main">
							<option value="">카테고리 선택</option>
							<%@categories.each do |cat| %>
							<option value="<%= cat.id %>" ><%= cat.name %></option>
							<%end %>
						</select>
					</span>
				</td>
				<td class="error"><!-- <img src="/images/icon_error.png" alt="error"> 분류를 선택하세요. --></td>
			</tr>
			<tr class="category2">
				<td class="input_name">분류 (선택)</td>
				<td class="input_data">
					<span id="select_category2">
						<select id="select_category2_0"  class="select_category" level="0" mode="opt">
							<option value="">선택안함</option>
							<%@categories.each do |cat| %>
							<option value="<%= cat.id %>" ><%= cat.name %></option>
							<%end %>
						</select>
					</span>
				</td>
				<td class="error"></td>
			</tr>
			<tr class="bookdate">
				<td class="input_name">발행일</td>
				<td class="input_data">
					<input type="text" id="issue_date" name="issue_date" value="<%= Date.today.to_s %>"><img id="btn_issue_date" src="/images/bt/bt_date.png" alt="발행일 선택" style="cursor:pointer;">
				</td>
				<td class="error"><!-- <img src="/images/icon_error.png" alt="error"> 발행일을 선택하세요. --></td>
			</tr>
			<tr class="price">
				<td class="input_name">가격</td>
				<td class="input_data">
					<img src="/images/icon_dollar.png" alt="달러">
					<input id="price" name="price" type="text" value="">
				</td>
				<td class="error"><span id="price_msg"></span></td>
			</tr>
			<tr class="mbookzip">
				<td class="input_name">mBook Zip 파일</td>
				<td class="input_data">
					<img src="/images/bt/bt_mbook.png" alt="mBook Zip 파일 등록"><input type="file" name="mbook_file" id="mbook_file">	
				</td>
				<td><span class="input_info">※ Zip 파일 최대 용량 : 000MB</span></td>
			</tr>
		</table>
		<p>
			<input type="image" id="submit_btn" src="/images/bt/bt_upload_ok.png" alt="등록완료">
			<!-- <img src="/images/bt/bt_cancel.png" alt="취소"> -->
		</p>	
		<%end %>
	</div>
</div>





<script language="Javascript">
$('.select_category').live("change", function(){
	var $level = $(this).attr("level");
	var $category_id = $(this).val();
	var $mode = $(this).attr("mode");
	
		$.ajax({
			data:'category_id='+ $category_id + '&level=' + $level + '&mode=' + $mode, 
			dataType:'script', 
			type:'post', 
			url:'/mbooks/fetch_subcategories'
		});
})


$('#submit_btn').click(function(){
	var $category1_level = $('#select_category select').length -1;
	var $category2_level = $('#select_category2 select').length -1;
	
	if ( $('#select_category_'+ $category1_level ).val() == ""){
		alert("필수 카테고리를 선택해 주세요!");
		return false;
	}else{
		$('#sub1').val( $('#select_category_'+ $category1_level ).val() );
	}
	
	$('#sub2').val( $('#select_category2_'+ $category2_level ).val() );
	
	if( $('#issue_date').val() == ""){
		alert("발행일을 선택해주세요~");
		return false;
	}
	if($('#price').val() == ""){
		$('#price').focus();
		$('#price').css("background-color", "yellow");
		$('#price_msg').html("<img src='/images/icon_error.png' alt='error'> 가격을 입력하세요.");
		return false;
	}
	if( $('#mbook_file').val() == ""){
		alert("업로드할 파일을 선택해주세요!");
		return false;
	}
	
	loadingView();
})

$('#btn_issue_date').live("click", function(){
	$( "#issue_date" ).focus();
})

$(function(){
	$( "#issue_date" ).datepicker();
	$( "#issue_date" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
	$( "#issue_date" ).datepicker( $.datepicker.regional[ "ko" ] );
})	
</script>