<div id="content_header">
	<h2 class="sub_title">mBook in Store</h2>
</div>
<div id="content">
	<!-- Root Category -->
	<div class="root_list">
		<ul>
			<li><img src="/images/root/root_first.png"></li>
			<li><a href=""><img src="/images/root/bt_root_total_pink.png" alt="전체분류"></a></li>
			<li>
				<select id="select_category" name="category_id">
					<%@categories.each do |cat| %>
					<option value="<%= cat.id %>" <%= "selected" if cat.id.to_s == params[:cat].to_s %>><%= cat.name %></option>
					<%end %>
				</select>
			</li>
			<li><img src="/images/root/root_arrow_pink.png"></li>
			<li>
				<span id="subcategories1">
				<select id="select_subcategory1" name="subcategory1_id">
					<% Subcategory.all(:category_id => params[:cat].to_i).each do |subcat| %>
					<option value="<%= subcat.id %>" <%= "selected" if subcat.id.to_s == params[:sub].to_s %>><%= subcat.name %></option>
					<%end %>
				</select>
			</li>
			<li class="root_last"><img src="/images/root/root_last.png"></li>
		</ul>
	</div>
	<!-- Sort list -->		
	<div class="sort_list">
		<img src="/images/input_title/input_title_state.png" alt="상태별 보기">	
		<select name="sort_list" id="select_status">
			<option value="">전체</option>
			<option value="1" <%= "selected" if params[:st] == "1" %>>승인완료</option>
			<option value="2" <%= "selected" if params[:st] == "2" %>>삭제대기</option>
		</select>
	</div>
	<!-- List -->
	<div class="list_title">
		<ul>
			<%if signed_in? %>
				<%if params[:me] != "y"  %>
					<li class="no">NO</li>
					<li class="book">책표지</li>
					<li class="mbook">mBook</li>
					<li class="id">아이디</li>
					<li class="date">등록일</li>
					<li class="price">가격</li>
					<li class="state">상태</li>
				<%else %>
					<li class="no">NO</li>
					<li class="book">책표지</li>
					<li class="category">분류</li>
					<li class="mbook">mBook</li>
					<li class="date">등록일</li>
					<li class="price">가격</li>
					<li class="state">상태</li>
					<li class="check" id="check_all" style="cursor:pointer;">선택</li>
				<%end %>
			<%else %>
				<li class="no">NO</li>
				<li class="book">책표지</li>
				<li class="mbook">mBook</li>
				<li class="id">아이디</li>
				<li class="date">등록일</li>
				<li class="price">가격</li>
				<li class="state">상태</li>
			<%end %>
			

		</ul>
	</div>
	
	<div class="list_data">	
		<input type="hidden" id="all_checked" value="false">
		<%puts_message "total count:: " + @total_count.to_s %>
		<% 	if params[:page].to_i == 0 or params[:page].to_i == 1
				@temp_page = 0
			else
				@temp_page = params[:page].to_i - 1
			end
			@page_num = @total_count - (10 * @temp_page) %>
				
		<%@mbooks.each do |mb| %>
		
		<%if signed_in? %>
		
			<%if params[:me] != "y" %>
				<ul class="list_data_<%= @page_num % 2 == 1 ? "white":"blue" %>">
					<li class="no"><%= @page_num %></li>
					<li class="book"><img src="<%= mb.thumbnail_url %>" alt="책표지"></li>
					<a href="/mbooks/<%= mb.id %>?me=<%= params[:me] %>&store=<%= params[:store] %>">
						<li class="mbook">
						<b><%= mb.title %></b><br/>
						▶ 저자 : <b><%= mb.writer %></b> | 출판사 : <b>출판사<%= mb.publisher %></b> | 발행일 : <b><%= mb.issue_date %></b>
						</li>
					</a>
					<li class="id"><%=User.get(mb.user_id).userid %></li>
					<li class="date"><%= mb.created_at.strftime('%Y-%m-%d') %></li>
					<li class="price"><img src="/images/icon_dollar.png" alt="달러"> <%= mb.price %></li>
					<li class="state"><%= mb.status %></li>
				</ul>
			<%else %>
				<ul class="list_data_<%= @page_num % 2 == 0 ? "white":"blue" %>">
					<li class="no"><%= @page_num %></li>
					<li class="book"><img src="<%= mb.thumbnail_url %>" alt="책표지"></li>
					<li class="category"><%= Category.get(mb.category_id.to_i).name %> <br> <%= Subcategory.get(mb.subcategory1_id.to_i).name %></li>
					<a href="/mbooks/<%= mb.id %>?me=<%= params[:me] %>&store=<%= params[:store] %>">
						<li class="mbook">
						<b><%= mb.title %></b><br/>
						▶ 저자 : <b><%= mb.writer %></b> | 출판사 : <b>출판사<%= mb.publisher %></b> | 발행일 : <b><%= mb.issue_date %></b>
						</li>
					</a>
					<li class="date"><%= mb.created_at.strftime('%Y-%m-%d') %></li>
					<li class="price"><img src="../images/icon_dollar.png" alt="달러"> <%= mb.price %></li>
					<li class="state"><%= mb.status %></li>
					<%if mb.status != "대기" and mb.status != "승인거부" %>
						<li class="check"><input type="checkbox"  disabled></li>
					<%else %>
						<li class="check"><input type="checkbox" class="chkbox" id="<%= mb.id %>" ></li>
					<%end %>
				</ul>
			<%end %>
		<%else %>
			<ul class="list_data_<%= @page_num % 2 == 1 ? "white":"blue" %>">
				<li class="no"><%= @page_num %></li>
				<li class="book"><img src="<%= mb.thumbnail_url %>" alt="책표지"></li>
				<a href="/mbooks/<%= mb.id %>?me=<%= params[:me] %>&store=<%= params[:store] %>">
					<li class="mbook">
					<b><%= mb.title %></b><br/>
					▶ 저자 : <b><%= mb.writer %></b> | 출판사 : <b>출판사<%= mb.publisher %></b> | 발행일 : <b><%= mb.issue_date %></b>
					</li>
				</a>
				<li class="id"><%=User.get(mb.user_id).userid %></li>
				<li class="date"><%= mb.created_at.strftime('%Y-%m-%d') %></li>
				<li class="price"><img src="/images/icon_dollar.png" alt="달러"> <%= mb.price %></li>
				<li class="state"><%= mb.status %></li>
			</ul>
		<%end %>
		
		<%@page_num -= 1
		end %>

	</div>
	<%if @menu_on == "my_mb" %>
		<div class="select_list">
					<img src="../images/input_title/input_title_select.png" alt="선택한 항목을">
					<img src="../images/bt/bt_delete.png" alt="삭제" id="btn_del" style="cursor:pointer;">
		</div>
	<%end %>
	<!-- 페이징 블럭 ======================-->
	<div>
		<table width="900">
			<tr height="20"></tr>
			<tr align="center">
				<td><%= @mbooks.pager.to_html "/mbooks?me=#{params[:me]}&store=#{params[:store]}&cat=#{params[:cat]}&subcat=#{params[:subcat]}&keyword=#{params[:keyword]}&search=#{params[:search]}" %></td>
			</tr>
		</table>
	</div>
	<!-- 페이징 블럭 ======================-->
	
	
	<!-- Search -->
	<div class="search">
		<img src="/images/input_title/input_title_search.png" alt="조건별 검색">
		<select name="keyword" id="keyword">
			<option value="1">mBook</option>
			<option value="2">저자</option>
			<option value="3">출판사</option>
			<option value="4">발행일</option>
			<option value="5">아이디</option>
			<option value="6">등록일</option>
			<option value="7">가격</option>
			<option value="8">상태</option>
		</select>
    	<input type="text" id="search" name="search" value="<%= params[:search] %>">
    	<a href=""><img src="/images/bt/bt_search.png" alt="검색"></a>
	</div>
</div>

<script language="Javascript">
$('#select_category').live("change", function(){
	var $value = $(this,'option:selected').val();
	
	$.ajax({
		data:'category_id='+ $value, 
		dataType:'script', 
		type:'post', 
		url:'/mbooks/update_subcategories'
	});
	
	location.href = "/mbooks?cat="+$value;
	
})

$('#select_subcategory1').live("change", function(){
	var $cat = $('#select_category :selected').val();
	var $sub = $(this,'option:selected').val();
	location.href = "/mbooks?cat="+$cat+"&sub="+$sub;
	
})


$('#check_all').live("click", function(){
	if ( $('#all_checked').val() == "false" ){
		
		$('.chkbox').each(function(){
			$(this).attr("checked", true);
		})
		
		$('#all_checked').val("true");
	}else{
		$('.chkbox').each(function(){
			$(this).attr("checked", false);
		})
		
		$('#all_checked').val("false");
	}
})

$('#btn_del').live("click", function(){
	if( $(':checkbox:checked').length > 0) {
		var del_ids = "";
		
		if( confirm("선택하신 파일을 정말 삭제하시겠습니까?")){
			$('.chkbox:checked').each(function(){
				del_ids += $(this).attr("id") + ",";
			})
			// loadingView();
			$.ajax({
				data:'ids='+ del_ids, 
				dataType:'script', 
				type:'post', 
				url:'/mbooks/deleteSelection'
			});
			
		}else{
			return false;
		}
	}else{
		alert("대상을 선택해 주세요!");
		return false;
	}
})

$('#select_status').live("change",function(){
	window.location.href = "/mbooks?me=<%= params[:me] %>&store=<%= params[:store] %>&st="+ $('#select_status option:selected').val()
})
</script>