<%if @section == "booklist" %><?xml version="1.0" encoding="UTF-8"?>
<xml><%@mbooks.each do |mb| 
		if File.exists?(mb.zip_path + "/midium.jpg")
			thumb_name = "midium.jpg"
		else
			thumb_name = "thumb.jpg"
		end
		
	zero_string = ""
	i = 0
	while (8 - mb.id.to_s.length) > i
		zero_string = zero_string + "0"
		i += 1
	end%>
<item>
<type>book</type>
<id><%= zero_string + mb.id.to_s %></id>
<thumbnail>mbook/<%= mb.id %>/<%= thumb_name %></thumbnail>
<preview>mbook/<%= mb.id %>/<%= mb.coverimage_name %></preview>
<download>mbook/<%= mb.id %>.zip</download>
<title><%= mb.title %></title>
<author><%= mb.writer %></author>
<publisher><%= mb.publisher %></publisher>
<pages><%= mb.pages %></pages>
<issue_date><%= mb.issue_date %></issue_date>
<price><%= mb.price %></price>
<description><%= mb.description %></description>
<product_identifier></product_identifier>
</item><%end %>
</xml>
<%else %>
	<%if @menu_on == "mb_store" and signed_in? %>
		<body id="sub" class="sub_mbook_in_store_guest">
	<%else %>
		<body id="sub" class="sub_mbook_in_store_<%= signed_in? ? "writer":"guest" %>">
	<%end %>
	
		<div id="header">
			<%= render :partial => "/shared/menu", :object =>@menu_on %>
		</div>
	
		<%= render :partial => "#{@board}_#{@section}", :object => @total_count, :object => @menu_on %>

		<!-- footer -->
		<div id="footer">
			<%= render :partial => "/shared/footer" %>
		</div>
	</body>
<%end %>
