<%	i = 1
	@categories.each do |cat| %>
<ul class="list_ul <%= "list_first" if i % 6 == 1 %>" id="ul_<%= cat.id %>">
	<li class="icon_cotegory"><img src="/images/category_icon/<%= cat.icon_image %>" alt="카테고리 아이콘"></li>
	<li class="category_name cat_name" category_id="<%= cat.id %>" cat_name="<%= cat.name %>"><%= cat.name %></li>
	<li><img src="/images/bt/bt_upload_re.png" alt="수정" style="cursor:pointer;" class="btn_mod" category_id="<%= cat.id %>" category_name="<%= cat.name %>"> <input type="checkbox" class="chkbox" category_id="<%= cat.id %>"></li>
</ul>
<%		i += 1
	end %>