
<table class="box_pop_user">
	<tr class="close_pop">
		<td><a href=""><img src="/images/bt/bt_close.png" alt="닫기" id="pop_close"></a></td>
	</tr>
	<tr class="title_pop">
		<td><img src="/images/pop/title_pop_user_information_pop.png" alt="사용자 정보"></td>
	</tr>
	<tr>
		<td>
			<table class="box_pop_user_input">
				<tr class="name">
					<td style="text-align:left"><img src="/images/pop/input_pink.png"><b>이름</b></td>
					<td class="input_data"><%= @user.name %></td>
				</tr>
				<tr class="id">
					<td style="text-align:left"><img src="/images/pop/input_pink.png"><b>아이디</b></td>
					<td class="input_data"><%= @user.userid %></td>
				</tr>
				<tr class="pw">
					<td style="text-align:left"><img src="/images/pop/input_pink.png"><b>비밀번호</b></td>
					<td class="input_data"><input type="button" value="비밀번호 초기화" id="btn_password_init" user_id="<%=  @user.id.to_s %>" style="cursor:pointer;"></td>
				</tr>
				<tr class="email">
					<td style="text-align:left"><img src="/images/pop/input_pink.png"><b>이메일</b></td>
					<td class="input_data">
						<span id="sp_email_basic" style="display:block;"><%= @user.email %>&nbsp;<input type="button" id="btn_mod" value="수정"></span>
						<span id="sp_email_mod" style="display:none;"><input id='mod_email' type='text' value='<%= @user.email %>' style='width:80px;'>&nbsp;<input type='button' id='btn_mod_email' value='수정'></span>
					</td>
				</tr>
				<tr class="email">
					<td style="text-align:left"></td>
					<td class="input_data">
						<input type="button" value="<%= @user.auth_fl ? "인증취소":"인증" %>" id="btn_auth" val_str_post="<%= @user.auth_fl ? "인증":"인증취소" %>" user_id="<%=  @user.id.to_s %>" style="cursor:pointer;">
					</td>
				</tr>
				<tr class="email">
					<td style="text-align:left"></td>
					<td class="input_data">
						<input type="button" value="인증메일 재발송" id="btn_resend" userid="<%=  @user.userid %>" user_email="<%= @user.email %>" style="cursor:pointer;">
						<span id="loading_image"></span>
					</td>
				</tr>
				
				<tr class="publisher">
					<td style="text-align:left"><img src="/images/pop/input_pink.png"><b>필명/출판사명</b></td>
					<td class="input_data"><%= @user.publisher %></td>
				</tr>
				<tr class="servicetype">
					<td style="text-align:left"><img src="/images/pop/input_pink.png"><b>서비스 형태</b></td>
					<td class="input_data"><%= @user.servicetype %></td>
				</tr>
				<tr class="servicetype">
					<td style="text-align:left"><img src="/images/pop/input_pink.png"><b>가입일자</b></td>
					<td class="input_data"><%= @user.created_at.strftime('%Y-%m-%d') %></td>
				</tr>
								
			</table>
		</td>
	</tr>
	<tr class="error">
		<td>
		<!-- <p class="error"><img src="/images/icon_error.png" alt="error"> 이름을 입력하세요.</p> -->
		</td>
	</tr>
</table>

<script language="Javascript">
$('#btn_mod').live("click", function(){
	$('#sp_email_basic').css("display" ,"none");
	$('#sp_email_mod').css("display", "block");
	$('#mod_email').focus();
})

$('#btn_mod_email').live("click", function(){
	var $email = $('#mod_email').val();
	if ($email == "<%= @user.email %>"){
		if (confirm("기존 메일주소와 동일합니다! 변경할 메일주소를 입력해주세요!")){
			$('#mod_email').focus();
			return false;
		}else{
			$('#sp_email_basic').html($email+"&nbsp;<input type='button' id='btn_mod' value='수정'>");
			$('#sp_email_basic').css("display" ,"block");
			$('#sp_email_mod').css("display", "none");
			
		}
	}
	
	if (confirm("메일주소를 수정하시겠습니까?") ){
		$.ajax({
			data:'email='+ $email+'&user_id='+<%= @user.id %>, 
			dataType:'script', 
			type:'post', 
			url:'/admin/users/modify_user_email',
			success: function(request){
				if ( request == "success"){
					$('#sp_email_basic').html($email+"&nbsp;<input type='button' id='btn_mod' value='수정'>");
					$('#sp_email_basic').css("display" ,"block");
					$('#sp_email_mod').css("display", "none");
				}else{
					alert("메일주소 변경중 오류가 발생했습니다! 관리자에게 문의해 주세요.");
				}
				
			}
		});
		
		return false;
	}else{
		$('#sp_email_basic').css("display" ,"block");
		$('#sp_email_mod').css("display", "none");
		
	}
})

$('#btn_password_init').live("click", function(){
	var $user_id = $('#btn_password_init').attr("user_id");
	
	if(confirm("사용자의 비밀번호를 1234 로 초기화 하시겠습니까?")){
		$.ajax({
			data:'user_id='+ $user_id, 
			dataType:'script', 
			type:'post', 
			url:'/admin/users/init_user_password',
			success: function(request){
				if ( request == "success"){
					alert("초기화 되었습니다!");
				}else{
					alert("초기화 진행중 오류가 발생했습니다! 관리자에게 문의해 주세요.");
				}
				
			}
		});
	}else{
		return false;
	}
})

$('#btn_auth').live("click", function(){
	var $user_id = $('#btn_auth').attr("user_id");
	var $val_str = $('#btn_auth').val();
	var $val_str_post = $('#btn_auth').attr("val_str_post");
	
	if(confirm("해당 사용자를 "+$val_str+" 하시겠습니까?")){
		$.ajax({
			data:'user_id='+ $user_id, 
			dataType:'script', 
			type:'post', 
			url:'/admin/users/auth_user_email',
			success: function(request){
				if ( request == "success"){
					$('#btn_auth').val($val_str_post);
					$('#btn_auth').attr("val_str_post", $val_str);
					alert($val_str +" 되었습니다!");
				}else{
					alert("인증 진행중 오류가 발생했습니다! 관리자에게 문의해 주세요.");
				}
				
			}
		});
	}else{
		return false;
	}
})

$('#btn_resend').live("click", function(){
	var $userid = $('#btn_resend').attr("userid");
	var $user_email = $('#btn_resend').attr("user_email");
	
	if(confirm("인증메일을 재발송하시겠습니까?")){
		$('#btn_resend').attr("disabled", true);
		$('#btn_resend').val("발송중");
		$('#loading_image').empty().html("<img src='/images/ajax_load.gif'>");		
		$.ajax({
			data:'userid='+ $userid, 
			dataType:'script', 
			type:'post', 
			url:'/admin/users/auth_email_resend',
			success: function(request){
				if ( request == "success"){
					$('#loading_image').empty();
					$('#btn_resend').val("발송완료");
					alert("인증메일이 발송되었습니다!");
					$('#btn_resend').attr("disabled", false);
					$('#btn_resend').val("인증메일 재발송");
				}else{
					alert("인증메일 발송중 오류가 발생했습니다! 관리자에게 문의해 주세요.");
					$('#btn_resend').attr("disabled", false);
					$('#btn_resend').val("인증메일 재발송");
				}
				
			}
		});
	}else{
		return false;
	}
})

</script>