<div id="content_header">
	<h2 class="sub_title">사용자 관리</h2>
</div>
<div id="content">
	<!-- Sort list -->		
	<div class="sort_list" style="display:block;">
		<img src="/images/input_title/input_title_user.png" alt="사용자 유형별 보기">	
		<select name="sort_list" id="select_user_type">
			<option value="all" <%= "selected" if params[:type]=="all" or params[:type]=="" %> >전체</option>
			<option value="writer" <%= "selected" if params[:type]=="writer"%> >작가/출판사</option>
			<option value="reader" <%= "selected" if params[:type]=="reader"%> >독자</option>
		</select>
		<select name="sort_list2" id="select_user_auth">
			<option value="all" <%= "selected" if params[:auth]=="all" or params[:auth]=="" %>>전체</option>
			<option value="true" <%= "selected" if params[:auth]=="true" %> >인증</option>
			<option value="false" <%= "selected" if params[:auth]=="false" %>>미인증</option>
		</select>
	</div>
	
	<!-- List -->
	<div class="list_title">
		<ul>
			<li class="no">NO</li>
			<li class="user_id">사용자 아이디</li>
			<li class="user_type">이름</li>
			<li class="user_detail">사용자 정보 보기 / 수정</li>
			<li class="user_mbook" id="loc_ref">사용자의 mBook 리스트 보기</li>
			<li class="check" id="check_all" style="cursor:pointer;">선택</li>
		</ul>
	</div>
	<div class="list_data">
		<% 	if params[:page].to_i == 0 or params[:page].to_i == 1
				@temp_page = 0
			else
				@temp_page = params[:page].to_i - 1
			end
			@page_num = @total_count - (12 * @temp_page) %>		
		<% @users.each do |user| %>
		<ul class="list_data_white">
			<li class="no"><%= @page_num %></li>
			<li class="user_id"><%= user.userid %><%= "(미인증)" if user.auth_fl == false %></li>
			<li class="user_type"><%= user.name %></li>				
			<li class="user_detail"><img src="/images/bt/bt_user_detail.png" alt="사용자 정보 보기 / 수정" id="detail_<%= user.id %>" class="btn_user_detail" style="cursor:pointer;"></li>
			<li class="user_mbook">
				<% if Mbook.all(:user_id => user.id).count > 0 %>
					<img src="/images/bt/bt_user_mbook.png" alt="사용자의 mBook 리스트 보기" class="to_user_mbook" id="to_user_mbook_<%= user.id %>" style="cursor:pointer;">
				<%end %>
			</li>
			<li class="check"><input type="checkbox" class="chkbox" id="chk_<%= user.id %>"></li>
		</ul>
		<% @page_num -= 1
		end %>

	</div>
	<!-- list Action -->		
	<div class="select_list">
		<img src="/images/input_title/input_title_select.png" alt="선택한 항목을">
		<img src="/images/bt/bt_delete.png" alt="삭제" id="btn_del" style="cursor:pointer;">
		<span id="error_msg" style="display:none"><p class="error"><img src="/images/icon_error.png" alt="error"> 선택한 항목이 없습니다.</p></span>
	</div>
   	<!-- Box User Information Pop -->
	<div id="pop_user" style="display:none;"></div>
	<!-- Paging -->
	<div>
		<table width="900">
			<tr height="20"></tr>
			<tr align="center">
				<td>
					<%= @users.pager.to_html "/admin/users" %>
				</td>
			</tr>
		</table>
	</div>

	<!-- Search -->
	<div class="search">
		<img src="/images/input_title/input_title_search.png" alt="조건별 검색">
		<select name="keyword" id="keyword">
			<option value="userid">아이디</option>
			<option value="name">이름</option>
		</select>
    	<input type="text" name="search" id="search" value="">
    	<a href=""><img src="/images/bt/bt_search.png" alt="검색"></a>
	</div>
</div>

<script>
$('#check_all').live("click", function(){
	$('.chkbox').each(function(){
		$(this).attr("checked", !$(this).attr("checked"));
	})
})

$('#btn_del').live("click", function(){
	if($(':checkbox:checked').length < 1){
		$('#error_msg').css("display", "block");
		setTimeout(function(){$('#error_msg').css("display", "none");}, 3000);
		return false;
	}else{
		if (window.confirm("선택하신 사용자들을 정말 삭제하시겠습니까?")){
			var $ids = "";
			$(':checkbox:checked').each(function(){
				$ids = $ids + $(this).attr("id").replace("chk_", "") + ",";
			});

			loadingView();

			$.ajax({
				data:'ids='+ $ids, 
				dataType:'script', 
				type:'post', 
				url:'/admin/users/deleteSelection',
				success: function(request){
					if (request == "success"){
						location.href="/admin/users";
					}else{
						alert("사용자 삭제중 오류가 발생했습니다!\관리자에게 문의해주세요!");
					}
					loadingView();
				}
			});	
		}else{
			return false;
		}
		
	}
})

$('.btn_user_detail').live("click", function(){
	var $user_id = $(this).attr("id").replace("detail_", "");
	var $btn_loc = $('#loc_ref').offset() ;
	
	if ($('#pop_user').css("display") == "block" && $('#pop_user').attr("user_id") == $user_id ){
		$('#pop_user').fadeOut("fast", function(){
			$('#pop_user').css("display", "none");
		})
		
	}else{
		$('#pop_user').fadeOut("slow", function(){
			$(this).css("top", $btn_loc.top + 30);
			$(this).css("left", $btn_loc.left);
			
			$(this).fadeIn("slow", function(){
				$(this).css("display", "block");	
				$(this).attr("user_id",$user_id);
				$(this).css("position", "absolute");
			});
			
			$.ajax({
				data:'user_id='+ $user_id, 
				dataType:'script', 
				type:'post', 
				url:'/admin/users/pop_user',
				success: function(request){

				}
			});
		});
		
		
	}
})

$('.to_user_mbook').live("click", function(){
	var $user_id = $(this).attr("id").replace("to_user_mbook_","");
	window.location.href = "/admin/mbooks?user="+$user_id;
})

$('#select_user_auth').change(function(){
	var $selected_value = $(this).val();
	window.location.href = "/admin/users?type=<%= params[:type] %>&auth=" + $selected_value;
})

$('#select_user_type').change(function(){
	var $selected_value = $(this).val();
	window.location.href = "/admin/users?auth=<%= params[:auth] %>&type=" + $selected_value;
})


</script>