<div id="content_header">
	<h2 class="sub_title">사용자 관리</h2>
</div>
<div id="content">
	<!-- Sort list -->		
	<div class="sort_list" style="display:none;">
		<img src="../images/input_title/input_title_user.png" alt="사용자 유형별 보기">	
		<select name="sort_list">
			<option value="1">admin</option>
			<option value="2">writer</option>
		</select>
	</div>
	<!-- List -->
	<div class="list_title">
		<ul>
			<li class="no">NO</li>
			<li class="user_id">사용자 아이디</li>
			<li class="user_type">이름</li>
			<li class="user_detail">사용자 정보 보기 / 수정</li>
			<li class="user_mbook">사용자의 mBook 리스트 보기</li>
			<li class="check" id="check_all" style="cursor:pointer;">선택</li>
		</ul>
	</div>
	<div class="list_data">
		<% 	if params[:page].to_i == 0 or params[:page].to_i == 1
				@temp_page = 0
			else
				@temp_page = params[:page].to_i - 1
			end
			@page_num = @total_count - (12 * @temp_page) %>		
		<% @users.each do |user| %>
		<ul class="list_data_white">
			<li class="no"><%= @page_num %></li>
			<li class="user_id"><%= user.userid %></li>
			<li class="user_type"><%= user.name %></li>				
			<li class="user_detail"><img src="../images/bt/bt_user_detail.png" alt="사용자 정보 보기 / 수정" id="detail_<%= user.id %>" class="btn_user_detail" style="cursor:pointer;"></li>
			<li class="user_mbook"><a href=""><img src="../images/bt/bt_user_mbook.png" alt="사용자의 mBook 리스트 보기"></a></li>
			<li class="check"><input type="checkbox" class="chkbox" id="chk_<%= user.id %>"></li>
		</ul>
		<% @page_num -= 1
		end %>

	</div>
	<!-- list Action -->		
	<div class="select_list">
		<img src="../images/input_title/input_title_select.png" alt="선택한 항목을">
		<img src="../images/bt/bt_delete.png" alt="삭제" id="btn_del" style="cursor:pointer;">
		<span id="error_msg" style="display:none"><p class="error"><img src="../images/icon_error.png" alt="error"> 선택한 항목이 없습니다.</p></span>
	</div>
   	<!-- Box User Information Pop -->
	<div id="pop_user" style="display:none;"></div>
	<!-- Paging -->
	<div>
		<table width="900">
			<tr height="20"></tr>
			<tr align="center">
				<td><%= @users.pager.to_html "/admin/users" %></td>
			</tr>
		</table>
	</div>

	<!-- Search -->
	<div class="search">
		<img src="../images/input_title/input_title_search.png" alt="조건별 검색">
		<select name="keyword" id="keyword">
			<option value="userid">아이디</option>
			<option value="name">이름</option>
		</select>
    	<input type="text" name="search" id="search" value="">
    	<a href=""><img src="../images/bt/bt_search.png" alt="검색"></a>
	</div>
</div>

<script>
$('#check_all').live("click", function(){
	$('.chkbox').each(function(){
		$(this).attr("checked", !$(this).attr("checked"));
	})
})

$('#btn_del').live("click", function(){
	if($(':checkbox:checked').length < 1){
		$('#error_msg').css("display", "block");
		setTimeout(function(){$('#error_msg').css("display", "none");}, 3000);
		return false;
	}
})

$('.btn_user_detail').live("click", function(){
	var $user_id = $(this).attr("id").replace("detail_", "");
	var $btn_loc = $(this).offset() ;
	// alert($btn_loc.left + "//" + $btn_loc.top);
	$.ajax({
		data:'user_id='+ $user_id, 
		dataType:'script', 
		type:'post', 
		url:'/admin/users/pop_user',
		success: function(request){
			$('#pop_user').css("display", "block");
			$('#pop_user').css("position", "absolute");
			$('#pop_user').css("top", $btn_loc.top);
			$('#pop_user').css("left", $btn_loc.left + 150);
		}
	});
	
	
})
</script>